:root {
    --one: #313552;
    --two: #B8405E;
    --three: #2EB086;
    --four: #EEE6CE;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: var(--three);
}

.header {
    font-family: 'Nova Mono', monospace;
    background-color: white;
    height: 3vh;
    width: 100vw;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

.container {
    display: grid;

    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 4px;
    background-color: var(--four);
    border-radius: 40px;
}

.container>div {
    text-align: center;
    font-size: x-large;
    color: var(--one);
    font-weight: bold;
    padding: 0px 2px;
}

.year {
    text-align: center;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 3vh 0vh;
}

p {
    margin: 0;
    font-size: x-large;
}

button {
    padding: 1.5vh 3.5vw;
    font-size: large;
    background-color: var(--two);
    color: var(--four);
    border: none;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--four);
    color: var(--two);
}

.header {
    display: block;
    width: 100vw;
    height: 3vh;
    text-decoration: none;
    color: var(--one);
}

@media (max-width: 800px) {
    .container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: row;
        gap: 5vh;
    }

    .container>div {
        font-size: large;
    }

    .input {
        margin: 1vh 0vh;
    }

    button {
        padding: 1vh 2vw;
        font-size: small;
        margin: 0.5vw;
    }

    .day {
        margin: 0;
    }
}
